[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/relearn"]
	path = themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "Website"]
	path = Website
	url = https://github.com/lunamidori5/Midori-AI-Website.git
[submodule "Subsystem-Manager"]
	path = Subsystem-Manager
	url = https://github.com/lunamidori5/Midori-AI-Subsystem-Manager.git
[submodule "Cluster-OS"]
	path = Cluster-OS
	url = https://github.com/lunamidori5/Midori-AI-Cluster-OS.git
[submodule "DiscordLLMBot"]
	path = DiscordLLMBot
	url = https://github.com/lunamidori5/Midori-AI-GPT-DiscordBot.git
[submodule "big-AGI"]
	path = big-AGI
	url = https://github.com/lunamidori5/big-AGI
[submodule "Obsidian-Notes"]
	path = Obsidian-Notes
	url = https://github.com/lunamidori5/Midori-AI-Obsidian-Notes.git
[submodule "Endless-Autofighter"]
	path = Endless-Autofighter
	url = https://github.com/lunamidori5/python_rpg_game.git
[submodule "Mozilla-AI/blueprints/subsystem-manager"]
	path = Mozilla-AI/blueprints/subsystem-manager
	url = https://github.com/lunamidori5/subsystem-manager.git
[submodule "Mozilla-AI/blueprints/lrm-testing"]
	path = Mozilla-AI/blueprints/lrm-testing
	url = https://github.com/lunamidori5/lrm-testing.git
[submodule "Mozilla-AI/blueprints/rpg-note-taker"]
	path = Mozilla-AI/blueprints/rpg-note-taker
	url = https://github.com/lunamidori5/rpg-note-taker.git
[submodule "Experimentation/rpg-note-taker"]
	path = Experimentation/rpg-note-taker
	url = https://github.com/lunamidori5/rpg-note-taker.git
[submodule "Experimentation/lrm-testing"]
	path = Experimentation/lrm-testing
	url = https://github.com/lunamidori5/lrm-testing.git
[submodule "Experimentation/subsystem-manager"]
	path = Experimentation/subsystem-manager
	url = https://github.com/lunamidori5/subsystem-manager.git
