[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/relearn"]
	path = themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "Website"]
	path = Website
	url = https://github.com/lunamidori5/Midori-AI-Website.git
[submodule "Subsystem-Manager"]
	path = Subsystem-Manager
	url = https://github.com/lunamidori5/Midori-AI-Subsystem-Manager.git
[submodule "Cluster-OS"]
	path = Cluster-OS
	url = https://github.com/lunamidori5/Midori-AI-Cluster-OS.git
[submodule "DiscordLLMBot"]
	path = DiscordLLMBot
	url = https://github.com/lunamidori5/Midori-AI-GPT-DiscordBot.git
[submodule "big-AGI"]
	path = big-AGI
	url = https://github.com/lunamidori5/big-AGI
[submodule "Obsidian-Notes"]
	path = Obsidian-Notes
	url = https://github.com/lunamidori5/Midori-AI-Obsidian-Notes.git
