altgraph
annotated-types
anyio
certifi
charset-normalizer
click
colorama
distro
docker
exceptiongroup
h11
httpcore
httpx
idna
openai
packaging
pefile
py-cpuinfo
pydantic
pydantic_core
pyinstaller
pyinstaller-hooks-contrib
PySimpleGUI
python-on-whales
PyYAML
requests
sniffio
tqdm
typer
typing_extensions
urllib3
