altgraph
annotated-types
anyio
cryptography
certifi
charset-normalizer
click
colorama
distro
docker
exceptiongroup
h11
httpcore
httpx
idna
pyautogen
packaging
pefile
py-cpuinfo
pydantic
pydantic_core
pyinstaller
pyinstaller-hooks-contrib
python-on-whales
PyYAML
requests
sniffio
tqdm
typer
typing_extensions
urllib3
psutil 
diskcache
subprocess32
gputil