altgraph
annotated-types
anyio
aiohttp
cryptography
certifi
charset-normalizer
click
colorama
distro
git+https://github.com/docker/docker-py@main
exceptiongroup
h11
httpcore
httpx
idna
pyautogen
packaging
pefile
py-cpuinfo
pydantic
pydantic_core
pyinstaller
pyinstaller-hooks-contrib
python-on-whales
PyYAML
requests
sniffio
tqdm
typer
types-requests
typing_extensions
urllib3
psutil 
diskcache
subprocess32
gputil